
<div data-role="page" id="spots">

  <div data-role="header">
    <h1>welcome <%= @username %></h1>
  </div>
  <!-- /header -->
    <p class="notice"><%= notice %></p>
  <div data-role="content" id="spotcon">
   <ul id='spot-list' data-role="listview" data-inset="true" data-filter="true"></ul>

  </div>
  <!-- /content -->

</div>
